
.border-setup {
  border-radius: 4px;
  border-top: 1px solid rgba(255,255,255,0.6);
  border-left: 1px solid rgba(255,255,255,0.2);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.shadow-setup {
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.4);
}
