@import "config";

body {
  background: url('../img/noise.png') repeat;
  padding-top: 20px;
  padding-bottom: 0px;
}

.content {
  margin: 0 auto;
  max-width: 700px;

  .head {
    .project-name {
      //.border-setup;
      //.shadow-setup;
      text-shadow: 1px 1px 0 rgb(253,253,253);
      color: rgb(153,153,153);
      //background: rgb(250,250,250);
      margin: 0px;
      margin-bottom: 20px;
      padding-left: 10px;
      padding-right: 2px;
    }
    ul {
      .border-setup;
      .shadow-setup;
      //box-shadow: inset 1px 1px 0 rgb(253,253,253);
      background: rgb(250,250,250);
      margin: 2px;
      padding-left: 2px;
      padding-right: 2px;
      li {
        .active {

        }
      }
    }
  }

  .body {
    .border-setup;
    .shadow-setup;
    //background: #049cdb;
    background: rgb(250, 250, 250);
    //background: url('../img/bg.png');

    padding: 20px;

    .post {
      h3 {
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);

        a {
          text-decoration: none;
          //color: rgba(252, 252, 252, 1);

          &:hover {
            text-decoration: none;
          }
        }
      }
      a.tag {
        .border-setup;
        background: rgba(0,0,0,0.6);
        box-shadow: 1px 1px 0.8px rgba(0,0,0,0.3) inset -1px -1px 0px 0px rgba(250,250,250,0.5);
        color: rgb(255,255,255);
        font-size: 13px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 1px;
        padding-top: 1px;
      }

      p {
        //text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
        font-size: 16px;
      }
    }
  }
}

.footer {

  color: rgb(153,153,153);
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
