<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>{% block title %}Apiep Blog{% endblock %}</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
<!--     <link rel="stylesheet/less" href="{% static 'css/style.less' %}"/> -->
    <style rel="stylesheet" type="text/css">
    	.border-setup{border-radius:4px;border-top:1px solid rgba(255, 255, 255, 0.6);border-left:1px solid rgba(255, 255, 255, 0.2);border-right:1px solid rgba(255, 255, 255, 0.2);border-bottom:1px solid rgba(255, 255, 255, 0.2);}
        .shadow-setup{box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.4);}
        body{background:url('http://elementaryos.org/sites/all/themes/elementary/img/noise.png') repeat;padding-top:20px;padding-bottom:0px;}
        .content{margin:0 auto;max-width:700px;}.content .head .project-name{text-shadow:1px 1px 0 #fdfdfd;color:#999999;}
        .content .head ul{border-radius:4px;border-top:1px solid rgba(255, 255, 255, 0.6);border-left:1px solid rgba(255, 255, 255, 0.2);border-right:1px solid rgba(255, 255, 255, 0.2);border-bottom:1px solid rgba(255, 255, 255, 0.2);box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.4);background:#fafafa;margin:2px;padding-left:2px;padding-right:2px;}
        .content .body{border-radius:4px;border-top:1px solid rgba(255, 255, 255, 0.6);border-left:1px solid rgba(255, 255, 255, 0.2);border-right:1px solid rgba(255, 255, 255, 0.2);border-bottom:1px solid rgba(255, 255, 255, 0.2);box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.4);background:#fafafa;padding:20px;}.content .body .post h3{text-shadow:1px 1px 0px rgba(0, 0, 0, 0.4);}.content .body .post h3 a{text-decoration:none;}.content .body .post h3 a:hover{text-decoration:none;}
        .content .body .post a.tag{border-radius:4px;border-top:1px solid rgba(255, 255, 255, 0.6);border-left:1px solid rgba(255, 255, 255, 0.2);border-right:1px solid rgba(255, 255, 255, 0.2);border-bottom:1px solid rgba(255, 255, 255, 0.2);background:rgba(0, 0, 0, 0.6);box-shadow:1px 1px 0.8px rgba(0, 0, 0, 0.3) inset -1px -1px 0px 0px rgba(250, 250, 250, 0.5);color:#ffffff;font-size:13px;padding-left:5px;padding-right:5px;padding-bottom:1px;padding-top:1px;}
        .content .body .post p{font-size:16px;}
        .footer{color:#999999;padding-bottom:10px;padding-top:10px;text-align:center;}
    </style>
  </head>
  <body>
    <div class="content">
      <div class="head">
        <ul class="nav nav-pills pull-right">
            {% block navbar %}
                <li class="active"><a href="/">Beranda</a></li>
                <li><a href="/arsip/">Arsip</a></li>
                <li><a href="/tentang/">Tentang</a></li>
                <li><a href="/kontak/">Kontak</a></li>
            {% endblock %}
        </ul>
        <h3 class="project-name">Apiep Blog</h3>
      </div>
      <div class="body">
          {% block content %}
          {% endblock %}
      </div>
    </div>
    <div class="footer">
      copyright &copy; 2012 apiep
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://raw.github.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36124819-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'apiepblog'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
  </body>
</html>
