<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>{% block title %}Apiep Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet/less" href="{% static 'css/style.less' %}"/>
  </head>
  <body>
    <div class="content">
      <div class="head">
        <ul class="nav nav-pills pull-right">
            {% block navbar %}
                <li class="active"><a href="/">Beranda</a></li>
                <li><a href="/arsip/">Arsip</a></li>
                <li><a href="/tentang/">Tentang</a></li>
                <li><a href="/kontak/">Kontak</a></li>
            {% endblock %}
        </ul>
        <h3 class="project-name">Apiep Blog</h3>
      </div>
      <div class="body">
          {% block content %}
          {% endblock %}
      </div>
    </div>
    <div class="footer">
      copyright &copy; 2012 apiep
    </div>

    <script type="text/javascript" src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/less-1.3.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/prefixfree.min.js' %}"></script>
<!--<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36124819-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>-->
<!--<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'apiepblog'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>-->
  </body>
</html>
