{% extends "blog/base.html" %}
{% load staticfiles %}
{% block navbar %}
    <li><a href="/">Beranda</a></li>
    <li><a href="/arsip/">Arsip</a></li>
    <li><a href="/tentang/">Tentang</a></li>
    <li class="active"><a href="/kontak/">Kontak</a></li>
{% endblock %}
{% block content %}
    <div id="icons" align="center">
        <a href="http://twitter.com/ap13p" target="blank">
            <img src="{% static 'img/twitter.png' %}" alt="@ap13p">
        </a>
    </div>
{% endblock %}
