{% extends "blog/base.html" %}
{% load url from future %}

{% block navbar %}
    <li><a href="/">Beranda</a></li>
    <li class="active"><a href="/arsip/">Arsip</a></li>
    <li><a href="/tentang/">Tentang</a></li>
    <li><a href="/kontak/">Kontak</a></li>
{% endblock %}

{% block content %}
<h3>Arsip</h3>
{% for post_year in list_posts %}
    <ul class="year">{{ post_year.keys.0 }}
        {% for month, posts in post_year.values.0.items %}
            {% if posts %}
            <li id="{{ post_year.keys.0 }}-{{ month }}" class="month">
                <div class="month-data">
                    <div class="collapsed"></div>
                    <div class="expanded" style="display:none;"></div>
                    <span class="name">{{ posts.0.created|date:"F" }}</span>
                    <span class="counter"> ({{ posts|length }})</span>
                </div>
                <ul class="posts">
                {% for post in posts %}
                    <li class="post">
                    <a class="title" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
                        <div class="date">{{ post.created|date:"j M Y" }}</div>
                    </li>
                {% endfor %}
                </ul>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}
<script>
    // toggle month
    var toggleMonth = function(month) {
        $(month).children('.posts').slideToggle('slow);
        $(month).find('.month-data div.collapsed').toggle();
        $(month).find('.month-data div.expanded').toggle();
    }

    // expand the current month
    toggleMonth($('#{{ now.year }}-{{ now.month }}'));

    // interrcept click to toggle month
    $('.month-data').click(function(){
        var month = $(this).parent();
        toggleMonth(month);
    });
</script>
{% endblock %}
