{% extends "blog/base.html" %}
{% block title %}
    {{ post.title }} | Apiep Blog
{% endblock %}
{% block navbar %}
    <li><a href="/">Beranda</a></li>
    <li><a href="/arsip/">Arsip</a></li>
    <li><a href="/tentang/">Tentang</a></li>
    <li><a href="/kontak/">Kontak</a></li>
{% endblock %}
{% block content %}
    <div class="post">
        <h3>{{ post.title }}</h3>

        <i class="icon-tags"></i>
        {% for tag in post.tags.all %}
            <a class="tag" href="/blog/tag/{{ tag }}">{{ tag.name }}</a>
        {% endfor %}
        <br/><br/>
        <p>
            {{ post.body|safe|linebreaks }}
        </p>
    </div>
    <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'apiepblog'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

{% endblock %}
