{% extends "blog/base.html" %}
{% load url from future %}
{% block content %}
{% for post in posts %}
    <div class="post">
        <h3><a class="title" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3>
        <i class="icon-tags"> </i>
        {% for tag in post.tags.all %}
            <a class="tag" href="/blog/tag/{{ tag }}">{{ tag.name }}</a>
        {% endfor %}
        <br/><br/>
        <p>
            {{ post.body|safe|truncatewords:50 }}
        </p>
    </div>
    {% if not forloop.last %}<hr/>{% endif %}
{% endfor %}
{% endblock %}
