{% extends "blog/base.html" %}
{% load url from future %}

{% block navbar %}
    <li><a href="/">Beranda</a></li>
    <li><a href="/arsip/">Arsip</a></li>
    <li><a href="/tentang/">Tentang</a></li>
    <li><a href="/kontak/">Kontak</a></li>
{% endblock %}

{% block content %}
<h3>Artikel yang memiliki tanda {{ tag }}</h3>
<ul>
{% for post in posts %}
<li>{{ post.created|date:'Y-d-m' }}: <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></li>
{% endfor %}
</ul>
{% endblock %}
