{% extends "blog/base.html" %}
{% load staticfiles %}
{% block navbar %}
    <li><a href="/">Beranda</a></li>
    <li><a href="/arsip/">Arsip</a></li>
    <li class="active"><a href="/tentang/">Tentang</a></li>
    <li><a href="/kontak/">Kontak</a></li>
{% endblock %}
{% block content %}
    <div align="center">
        <h2>Powered by</h2>
        <br/>
        <img src="{% static 'img/django.png' %}" class="img-polaroid" width=150px>
        <img src="{% static 'img/postgresql_logo.png' %}" class="img-polaroid" width=150px>
    </div>
{% endblock %}
