.border-setup{border-radius:4px;border-top:1px solid rgba(255, 255, 255, 0.6);border-left:1px solid rgba(255, 255, 255, 0.2);border-right:1px solid rgba(255, 255, 255, 0.2);border-bottom:1px solid rgba(255, 255, 255, 0.2);}
.shadow-setup{box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.4);}
body{background:url('../img/noise.png') repeat;padding-top:20px;padding-bottom:0px;}
.content{margin:0 auto;max-width:700px;}.content .head .project-name{text-shadow:1px 1px 0 #fdfdfd;color:#999999;}
.content .head ul{border-radius:4px;border-top:1px solid rgba(255, 255, 255, 0.6);border-left:1px solid rgba(255, 255, 255, 0.2);border-right:1px solid rgba(255, 255, 255, 0.2);border-bottom:1px solid rgba(255, 255, 255, 0.2);box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.4);background:#fafafa;margin:2px;padding-left:2px;padding-right:2px;}
.content .body{border-radius:4px;border-top:1px solid rgba(255, 255, 255, 0.6);border-left:1px solid rgba(255, 255, 255, 0.2);border-right:1px solid rgba(255, 255, 255, 0.2);border-bottom:1px solid rgba(255, 255, 255, 0.2);box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.4);background:#fafafa;padding:20px;}.content .body .post h3{text-shadow:1px 1px 0px rgba(0, 0, 0, 0.4);}.content .body .post h3 a{text-decoration:none;}.content .body .post h3 a:hover{text-decoration:none;}
.content .body .post a.tag{border-radius:4px;border-top:1px solid rgba(255, 255, 255, 0.6);border-left:1px solid rgba(255, 255, 255, 0.2);border-right:1px solid rgba(255, 255, 255, 0.2);border-bottom:1px solid rgba(255, 255, 255, 0.2);background:rgba(0, 0, 0, 0.6);box-shadow:1px 1px 0.8px rgba(0, 0, 0, 0.3) inset -1px -1px 0px 0px rgba(250, 250, 250, 0.5);color:#ffffff;font-size:13px;padding-left:5px;padding-right:5px;padding-bottom:1px;padding-top:1px;}
.content .body .post p{font-size:16px;}
.footer{color:#999999;padding-bottom:10px;padding-top:10px;text-align:center;}
